<html lang="sv">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script async type="module" src="script.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" />
	<link href="style.css" rel="stylesheet" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
	<title>Tv-tablå Labb</title>
</head>

<body>
	<!-- Menu-->
	<div id="app">
		<div class="menu-icon" @click="showingMenu = !showingMenu">
			<i :class="['fas', !showingMenu ? 'fa-bars' : 'fa-times']"></i>
		</div>
		<ul :class="[{'menu--show' : showingMenu}, 'menu']">
			<li @click="setChannel('SVT 1')">SVT 1</li>
			<li @click="setChannel('SVT 2')">SVT 2</li>
			<li @click="setChannel('SVT Barn')">SVT Barn</li>
			<li @click="setChannel('Kunskapskanalen')">Kunskapskanalen</li>
			<li @click="setChannel('SVT 24')">SVT 24</li>
		</ul>
		<!-- Page content -->
		<div class="container">
			<div class="row">
				<div class="col-sm-6 offset-sm-2">
					<h1 id="js-title">{{ channelName }}</h1>
					<div v-if="!loading" id="js-schedule">
						<ul class="list-group list-group-flush">
							<li v-if="anyAiredProgram && !displayingAiredPrograms" @click="displayingAiredPrograms = true"
								class="list-group-item show-previous">Visa tidigare program</li>
							<li v-for="program in programsToDisplay" class="list-group-item">
								<strong>{{ formatTime(program.start.getHours(), program.start.getMinutes()) }}</strong>
								<div>{{ program.name }}</div>
							</li>
						</ul>
					</div>
					<img v-else src="loading.gif" id="js-loading" class="loading-spinner" alt="Page loader" />
				</div>
			</div>
		</div>
	</div>
</body>

</html>